@use 'variables' as *;

// Mixins //

// For Media Queries

@mixin mq($bp) {
  $value: map-get($bp-map, $bp);
  @media (min-width: $value) {
    @content;
  }
}

// For Images

@mixin img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// For Button Colors

@mixin btn-color($color) {
  background-color: $color;
  &:hover {
    background-color: lighten($color, 15%);
  }
}