
// Typography

$font-family:  'Lato', sans-serif;

// Colors

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

// Button Colors

$c-btn-error: #e4757a;
$c-btn-info: #927bc1;
$c-btn-success: #63cc82;
$c-btn-warning: #fd7856;


// Breakpoints

$bp-map: (
  'med': 768px, // A key-value map is obviously not necessary since there is only one 
                // value needed here but this is just for practice
);

