@use '../utilities' as *;

// Media Queries

@include mq('med') {
  .container {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}