@use '../utilities' as *;

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  @include btn-color($color-secondary);
}

.error {
  @include btn-color($c-btn-error);
}

.info {
  @include btn-color($c-btn-info);
}

.success {
  @include btn-color($c-btn-success);
}

.warning {
  @include btn-color($c-btn-warning);
}